
@model SkyTunesCsharp.Models.DashViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
   
<div class="mb-2">
@Html.Partial("_ArtistCarousel", Model.CarouselItems)
</div>

 
    <h5>📜 Featured Playlists</h5> 

    <div class="row">
    @foreach (var item in Model.PlaylistItems)
    {
         <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                @Html.DisplayFor(m => item)
            </div>
    }
    </div>
    
<h5>🤺 Featured Artists</h5>
    <div class="row">
    @foreach (var item in Model.ArtistItems)
    {
         <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                @Html.DisplayFor(m => item)
            </div>
    }
    </div>
    
<h5>📀 Featured Albums</h5>
    <div class="row">
    @foreach (var item in Model.AlbumItems)
    {
         <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                @Html.DisplayFor(m => item)
            </div>
    }
    </div>
</div>
